<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <title></title>
</head>

<body>
    <h1>[[${user.name}]]</h1>
    <form action="" method="post">
        <div>
            Username: <input type="text" th:field="${user.username}" />
        </div>
        <div>
            Password: <input type="text" th:field="${user.password}" />
        </div>
        <div>
            Full Name: <input type="text" th:field="${user.name}" />
        </div><br/>
        <div>
            <input type="submit" value="Update Account" />
        </div>
    </form>
    <form th:action="@{/users/{userId}/delete(userId=${user.userId})}" method="post" 
    style="margin-top: 3px;">
        <input type="submit" value="Delete User">
    </form>
    <form action="/users" style="margin-top: 3px;">
        <button>Back</button>
    </form><br/>
    
</body>

</html>