<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <title></title>
</head>

<body>
    <h1>[[${user.name}]]</h1>
    <form action="" method="post">
        <div>
            Full Name: <input type="text" th:field="${user.name}" />
        </div>
        <div>
            Username: <input type="text" th:field="${user.username}" />
        </div>
        <div>
            Password: <input type="text" th:field="${user.password}" />
        </div><br/>
        <div>
            Address Line 1: <input type="text" th:field="${address.addressLine1}" />
        </div>
        <div>
            Address Line 2: <input type="text" th:field="${address.addressLine2}" />
        </div>
        <div>
            City: <input type="text" th:field="${address.city}" />
        </div>
        <div>
            State: <input type="text" th:field="${address.state}" />
        </div>
        <div>
            Country: <input type="text" th:field="${address.country}" />
        </div>
        <div>
            Zip Code: <input type="text" th:field="${address.zipCode}" />
        </div><br/>
        <div>
            <input type="submit" value="Update Account" />
        </div>
    </form>
    <form th:action="@{/users/{userId}/delete(userId=${user.userId})}" method="post" 
    style="margin-top: 3px;">
        <input type="submit" value="Delete User">
    </form>
    <form th:action="@{/users/{userId}/accounts(userId=${user.userId})}" style="margin-top: 3px;">
        <button>Create New Account</button>
    </form><br/>
    <form action="/users" style="margin-top: 3px;">
        <button>Back</button>
    </form><br/>
    <hr/>
    
</body>

</html>